/* You can add global styles to this file, and also import other style files */

.tab-panel {
    border: 1px solid var(--light);
    padding: 10px;
    border-radius: 4px;
}

/*.nav-tabs>li.open,
.member-tabset>.nav-tabs>li:hover*/
.nav-tabs>li.open {
    border-bottom: 4px solid var(--primary);
}

.member-tabset>.nav-tabs>li>a {
    color: var(--dark);
}

.member-tabset>.nav-tabs>li.open>a,
.member-tabset>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: var(--primary);
}

.member-tabset>.nav-tabs>li.open>a>i,
.member-tabset>.nav-tabs>li:hover>a>i {
    color: var(--primary);
}

.member-tabset>.nav-tabs>li.open .dropdown-menu,
.member-tabset>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
    border-bottom: 4px solid var(--primary);
    position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
    border: 0 !important;
    color: var(--primary);
}

.member-tabset>.nav-tabs>li.active>a>i {
    color: var(--primary);
}

.member-tabset>.tab-content {
    margin-top: -3px;
    background-color: var(--white);
    border: 0;
    border-top: 1px solid var(--light);
    padding: 15px 0;
}