<div class="card">
    <div class="card-body">
        <div *ngIf="(messageService.messageThread$ | async).length == 0">
            No messages yet... say hi by using the message box below
        </div>

        <ul #scrollMe
            style="overflow-y: scroll; height: 50vh;"
            *ngIf="messages.length > 0"
            class="chat">
            <li *ngFor="let message of messages">
                <div>
                    <span class="chat-img float-right mr-2">
                        <img class="rounded-circle"
                             src="{{message.senderPhotoUrl || '.assets/user.png'}}"
                             alt="{{message.senderUserName}}">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span><i class="fa fa-clock-o mr-1"></i>{{message.messageSent | timeago}}</span>
                                <span class="text-danger"
                                      *ngIf="!message.dateRead && message.senderUserName !== username">
                                    (unread)
                                </span>
                                <span class="text-success"
                                      *ngIf="message.dateRead && message.senderUserName !== username">
                                    (read {{message.dateRead | timeago}})
                                </span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm"
              (ngSubmit)="sendMessage()"
              autocomplete="off">
            <div class="input-group">
                <input name="messageContent"
                       required
                       [(ngModel)]="messageContent"
                       type="text"
                       class="form-control input-sm"
                       placeholder="Send a private message">
                <div class="input-group-append">
                    <button class="btn btn-primary"
                            type="submit"
                            [disabled]="!messageForm.valid">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>