.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 15px;
    border-bottom: 1px dotted var(--secondary);
}

.rounded-circle {
    max-height: 50px;
}